.footer {
    padding: calc($separacion / 2) 0 ;
    // background-color: $azulintermedio;
    margin-bottom: 0;
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    .redes-sociales{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .copyright{
        color: white;
        font-size: 1.7rem;
        text-align: center;
    }
}
