h1{
    padding: 0;
    margin: 0;
}

.header {
    overflow-x: hidden;
    // background-color: $grisOscuro;
    // padding: 1rem 0 3rem 0;
    .zona-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        .zona-logo__texto h1{
                text-align: left;
                font-size: 2rem;
        }
        .zona-logo__texto a{
            color: $negro;
        }
        .logo{
            max-width: 9rem;
        }
    }
    .titulo{
        // background-color: $turquesa2;
        background: #06beb6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


        .titulo_content h1{
            color: $blanco;
        font-weight: $regular;
        font-size: 3rem;
        animation-duration: 4s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-direction:alternate;
       
        }
        @keyframes slidein {
           
            from {
              margin-left: 100%;
              width: 300%;
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
          }
    }
}
body{
    height: 100%;
}
#contenido {
    min-height: calc(100% - 120px); /* Resta el alto del footer */
  }
  
//   footer {
//     position: fixed;
//     bottom: 0;
//     width: 100%;
//     height: 120px; /* Ajusta el alto del footer según sea necesario */
//   }

.cerrar_sesion{
    display: flex;
    justify-content: center;
    align-items: center;
 h5{
    padding: .5rem 1rem;
    border-radius: 3rem;
    background-color: $turquesa;
    color: $blanco;
    display: inline-block;
 }
}